extends layout

block content
    form.contact-form
        h1.logo Contact Form
        .contact-form-container
            .contact-form-input
                label(for="name") Name:
                input(type="text", id="name", name="name", placeholder="enter your name")

            .contact-form-input
                label(for="email") Email:
                input(type="email", id="email", name="email",placeholder="enter your email")

        .contact-form-input
            label(for="message") Message:
            textarea(id="message", name="message", placeholder="enter your message")

        .contact-form-button
            input.submit(type="submit", value="send message")