html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/error.css')
body
  block content
  div.container 
    div
      h1.logo Opps...
      h2= errorStatus
      h2= message 
    div.img
      img(src="/images/denied.jpg", alt="")
