extends layout

block content
  div.hero
    div.hero-text
      h1.logo The best productivity app for Work
      p Productivity during working hours! 🚀 Choose efficiency with our all-in-one application designed to simplify task management, time tracking, and team collaboration.
      button.hero-button
        a(href='/services')  Get Started
    div.hero-img
      img(src="/images/hero.jpg", alt="")
