extends layout

block content
    section.task
        h1.logo Streamline task management
        div.task-container
            div.task-text
                p Effortlessly organize and optimize task management processes with WorkFlow. Our intuitive platform provides powerful tools to streamline task creation, assignment, prioritization, and tracking. Say goodbye to scattered to-do lists and hello to a centralized hub where tasks are easily managed, ensuring nothing falls through the cracks. With WorkFlow, stay on top of your workload and boost productivity like never before.
            div.task-img
                img(src="images/taskstimetrack.jpg", alt="")
    section.time
        h1.logo Time tracking
        div.time-container
            div.time-img
                img(src="images/onlinecollab.jpg", alt="")
            div.time-text
                p A dedicated time tracking app streamlines the process of logging hours spent on web content creation. It reduces the time and effort required to manually track and record time, allowing content creators to focus more on their work. 
    section.collab
        h1.logo Streamline task management
        div.collab-container
            div.collab-text
                p By using a centralized time tracking system within a workflow app, team members can coordinate their efforts more effectively. They can see who is working on what tasks and allocate resources accordingly, leading to smoother collaboration and reduced conflicts over task ownership.        
            div.collab-img
                img(src="images/calandar.jpg", alt="")
